<mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="demo-toolbar">
        <h1>Ligthbox</h1>
        <div>
            <button mat-flat-button color="primary" (click)="toggleTheme()">{{dark ? 'Light' : 'Dark'}} theme</button>
        </div>
    </div>
</mat-toolbar>
<mat-sidenav-container class="demo-root" fullscreen>
    <mat-sidenav #sidenav>
        <mat-nav-list>
            <mat-nav-list>
                <mat-list-item *ngFor="let navItem of navItems" [ngClass]="{'active': navItem.active}" [routerLink]="[navItem.route]">
                    <mat-icon mat-list-icon [color]="navItem.active?'primary':undefined">{{navItem.icon}}</mat-icon>
                    <span mat-line>
                        {{navItem.name}}
                    </span>
                </mat-list-item>
            </mat-nav-list>
        </mat-nav-list>
    </mat-sidenav>
    <div>
        <div #root="dir" dir="ltr" class="demo-content" fxLayout="row" fxLayoutAlign="center">
            <div fxFlex="80" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</mat-sidenav-container>