@mixin lightbox-overlay() {
  
    .lightbox-overlay-container {

        // Disable events from being captured on the overlay container.
        pointer-events: none;
        position: fixed;
        z-index: 10000;
        height: 100%;
        width: 100%;
    }
}

@mixin lightbox() {

    @include lightbox-overlay();
}