.example-card img {
    max-height: 180px;
    min-height: 180px;
    width: auto;
}

mat-card{
    margin-bottom: 10px;
    padding: 0px;
    overflow: hidden;

    .mat-card-image{
        margin: 0px;
        padding: 0px;
        margin-bottom: -4px;
    }
}

h2{
    text-align: center;
}

.tab-content{
    padding: 15px;
}

.checkbox-form-field{
    margin-bottom: 20px;
}

