<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>settings</mat-icon>
            <span>Configuration</span>
        </ng-template>
        <div class="tab-content">
            <p>
                Change demo template, controls and animations configurations.
            </p>
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Template
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form>
                        <h3>Images</h3>
                        <mat-form-field>
                            <input matInput name="imagesAmount" [value]="imagesAmount" placeholder="amount" type="number" step="1" min="0" max="32" (input)="onChangeImagesAmount($event.target.value)">
                        </mat-form-field>
                        <h3>Videos</h3>
                        <mat-form-field>
                            <input matInput name="videosAmount" [value]="videosAmount" placeholder="amount" type="number" step="1" min="0" max="3" (input)="onChangeVideosAmount($event.target.value)">
                        </mat-form-field>
                    </form>     
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Controls
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form>
                        <h3>Toolbar</h3>
                        <mat-form-field>
                            <mat-select  name="controls.toolbar.position" [(ngModel)]="config.controls.toolbar.position" placeholder="position">
                                <mat-option [value]="'top'">top</mat-option>
                                <mat-option [value]="'bottom'">bottom</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <h3>Navigation</h3>
                        <mat-checkbox name="controls.navigation.disable" [(ngModel)]="config.controls.navigation.disable">disable</mat-checkbox>
                        <h3>Jump To Start</h3>
                        <mat-checkbox name="controls.jumpToStart.disable" [(ngModel)]="config.controls.jumpToStart.disable">disable</mat-checkbox>
                        <h3>Backward</h3>
                        <mat-checkbox name="controls.backward.disable" [(ngModel)]="config.controls.backward.disable">disable</mat-checkbox>
                        <h3>Item Index</h3>
                        <mat-checkbox name="controls.itemIndex.disable" [(ngModel)]="config.controls.itemIndex.disable">disable</mat-checkbox>
                        <h3>Forward</h3>
                        <mat-checkbox name="controls.forward.disable" [(ngModel)]="config.controls.forward.disable">disable</mat-checkbox>
                        <h3>Jump To End</h3>
                        <mat-checkbox name="controls.jumpToEnd.disable" [(ngModel)]="config.controls.jumpToEnd.disable">disable</mat-checkbox>
                        <h3>Thumbnails</h3>
                        <div class="checkbox-form-field">
                            <mat-checkbox name="controls.thumbnails.disable" [(ngModel)]="config.controls.thumbnails.disable">disable</mat-checkbox>
                        </div>
                        <mat-form-field>
                            <mat-select [disabled]="config.controls.thumbnails.disable"  name="controls.thumbnails.position" [(ngModel)]="config.controls.thumbnails.position" placeholder="position">
                                <mat-option [value]="'left'">left</mat-option>
                                <mat-option [value]="'right'">right</mat-option>
                                <mat-option [value]="'top'">top</mat-option>
                                <mat-option [value]="'bottom'">bottom</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <h3>Zoom</h3>
                        <mat-checkbox name="controls.zoom.disable" [(ngModel)]="config.controls.zoom.disable">disable</mat-checkbox>
                        <h3>Zoom In</h3>
                        <mat-checkbox name="controls.zoomIn.disable" [(ngModel)]="config.controls.zoomIn.disable">disable</mat-checkbox>
                        <h3>Zoom Out</h3>
                        <mat-checkbox name="controls.zoomOut.disable" [(ngModel)]="config.controls.zoomOut.disable">disable</mat-checkbox>
                        <h3>Feet To Width</h3>
                        <mat-checkbox name="controls.feetToWidth.disable" [(ngModel)]="config.controls.feetToWidth.disable">disable</mat-checkbox>
                        <h3>Reset Zoom</h3>
                        <mat-checkbox name="controls.resetZoom.disable" [(ngModel)]="config.controls.resetZoom.disable">disable</mat-checkbox>
                    </form>     
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        Animations
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <form>
                        <h3>Toolbar Show</h3>
                        <mat-form-field>
                            <input matInput name="animations.toolbarShow.duration" placeholder="duration" [(ngModel)]="config.animations.toolbarShow.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Toolbar Hide</h3>
                        <mat-form-field>
                            <input matInput name="animations.toolbarHide.duration" placeholder="duration" [(ngModel)]="config.animations.toolbarHide.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Background Fade In</h3>
                        <mat-form-field>
                            <input matInput name="animations.backgroundFadeIn.duration" placeholder="duration" [(ngModel)]="config.animations.backgroundFadeIn.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput name="animations.backgroundFadeIn.opacity" placeholder="opacity" [(ngModel)]="config.animations.backgroundFadeIn.opacity" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Background Fade Out</h3>
                        <mat-form-field>
                            <input matInput name="animations.backgroundFadeOut.duration" placeholder="duration" [(ngModel)]="config.animations.backgroundFadeOut.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Thumbnails Show</h3>
                        <mat-form-field>
                            <input matInput name="animations.thumbnailsShow.duration" placeholder="duration" [(ngModel)]="config.animations.thumbnailsShow.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Thumbnails Hide</h3>
                        <mat-form-field>
                            <input matInput name="animations.thumbnailsHide.duration" placeholder="duration" [(ngModel)]="config.animations.thumbnailsHide.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Thumbnails Slice</h3>
                        <mat-form-field>
                            <input matInput name="animations.thumbnailsSlice.duration" placeholder="duration" [(ngModel)]="config.animations.thumbnailsSlice.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Zoom Hide</h3>
                        <mat-form-field>
                            <input matInput name="animations.zoomShow.duration" placeholder="duration" [(ngModel)]="config.animations.zoomShow.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Zoom Hide</h3>
                        <mat-form-field>
                            <input matInput name="animations.zoomHide.duration" placeholder="duration" [(ngModel)]="config.animations.zoomHide.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Zoom In</h3>
                        <mat-form-field>
                            <input matInput name="animations.zoomIn.duration" placeholder="duration" [(ngModel)]="config.animations.zoomIn.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Zoom Out</h3>
                        <mat-form-field>
                            <input matInput name="animations.zoomOut.duration" placeholder="duration" [(ngModel)]="config.animations.zoomOut.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Feet To Width</h3>
                        <mat-form-field>
                            <input matInput name="animations.feetToWidth.duration" placeholder="duration" [(ngModel)]="config.animations.feetToWidth.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Reset Zoom</h3>
                        <mat-form-field>
                            <input matInput name="animations.resetZoom.duration" placeholder="duration" [(ngModel)]="config.animations.resetZoom.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Item Slice</h3>
                        <mat-form-field>
                            <input matInput name="animations.itemSlice.duration" placeholder="duration" [(ngModel)]="config.animations.itemSlice.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                        <h3>Item Open</h3>
                        <mat-form-field>
                            <input matInput name="animations.itemOpen.duration" placeholder="duration" [(ngModel)]="config.animations.itemOpen.duration" type="number" step="0.1" min="0">
                        </mat-form-field>
                    </form>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>visibility</mat-icon>
            <span>Demo</span>
        </ng-template>
        <div class="tab-content">
            <div fxLayout="row wrap" fxLayoutAlign="center none" fxLayoutGap="10px">
                <mat-card class="example-card" *ngFor="let video of videosList">
                        <img lightbox-video lazy-loading [container]="'lightbox1'" [title]="video.title" [youtube-id]="video.youtubeId" mat-card-image 
                            [src]="video.src"
                            [xs-src]="video.xsSrc"
                            [lg-src]="video.lgSrc"/>
                    </mat-card>
                <mat-card class="example-card" *ngFor="let image of imagesList">
                    <img lightbox-img lazy-loading [container]="'lightbox1'" [title]="image.title" mat-card-image 
                        [src]="image.src"
                        [xs-src]="image.xsSrc"
                        [sm-src]="image.smSrc"
                        [md-src]="image.mdSrc"
                        [lg-src]="image.lgSrc"
                        [xl-src]="image.xlSrc"/>
                </mat-card>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>