:host{
    
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    opacity: 0;

    .lightbox-panel-background{
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.8;
        position: absolute;
    }

    .lightbox-panel-header{
        height: 64px;
        background-color: black;
    }
}