<div [@headerShowAnimator]="_headerShowAnimator" class="lightbox-panel-header">
    <button lightbox-icon-button (click)="close()"><span class="material-icons">arrow_back</span></button>
    <span *ngIf="_activeItem" >{{_activeItem.title}}</span>
</div>
<div [@fadeAnimator]="_fadeAnimator" (@fadeAnimator.start)="_startFadeAnimator($event)" (@fadeAnimator.done)="_doneFadeAnimator($event)" (click)="close()" class="lightbox-panel-background">
</div>
<img 
    [@openItemAnimator]="_openItemAnimator"
    (click)="toggleHeader()" 
    *ngIf="_activeItem"
    [style.top]="_activeItem.offsetTop + 'px'"
    [style.left]="_activeItem.offsetLeft + 'px'"
    [style.width]="_activeItem.width + 'px'"
    [style.height]="_activeItem.height + 'px'"
    style="position:absolute;z-index:1;" 
    src="{{_activeItem.url}}"
/>

