<div [@headerShowAnimator]="headerShowAnimator" class="lightbox-panel-header">
    <button lightbox-icon-button (click)="close()"><span class="material-icons">arrow_back</span></button>
    <span class="lightbox-panel-header-title" *ngIf="activeItem" >{{activeItem.title}}</span>
</div>
<div [@fadeAnimator]="fadeAnimator" (@fadeAnimator.start)="startFadeAnimator($event)" (@fadeAnimator.done)="doneFadeAnimator($event)" (click)="close()" class="lightbox-panel-background">
</div>
<div class="lightbox-panel-slice">
    <button #_previous [position]="'left'" lightbox-icon-button (click)="previous()" [disable]="!hasPrevious"><span class="material-icons">navigate_before</span></button>
    <button #_next [position]="'right'" lightbox-icon-button (click)="next()" [disable]="!hasNext"><span class="material-icons">navigate_next</span></button>
</div>
<div *ngFor="let item of items">
    <lightbox-img *ngIf="item.type=='img'" #items  [item]="item" (clickEvent)="toggleControls()"></lightbox-img>
    <lightbox-video *ngIf="item.type=='video'" #items  [item]="item" (clickEvent)="toggleControls()"></lightbox-video>
</div>

