
<h2>Some Example</h2>
<br>
<div fxLayout="row wrap" fxLayoutAlign="center none" fxLayoutGap="10px">
    <mat-card class="example-card">
        <img lightbox-img [lightbox-container]="lightbox1" [lightbox-title]="'The Godfather'" mat-card-image src="assets/images/bc93a9a752e5916980ddc3e86c19ecf6.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [lightbox-container]="lightbox1" [lightbox-title]="'The Shawshank Redemption'" mat-card-image src="assets/images/hlf.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [lightbox-container]="lightbox1" [lightbox-title]="'Schindlers List'" mat-card-image src="assets/images/schindlers-list.22323.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [lightbox-container]="lightbox1" [lightbox-title]="'Pulp Fiction'" mat-card-image src="assets/images/d52375334766.original.jpeg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [lightbox-container]="lightbox1" [lightbox-title]="'Forrest Gump'" mat-card-image src="assets/images/forrest-gump-poster.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [lightbox-container]="lightbox1" [lightbox-title]="'the silence of the lambs'" mat-card-image src="assets/images/the-silence-of-the-lambs-video-poster-29x41-in-1991-jonathan-demme-anthony-hopkins.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-video [lightbox-video-url]="'http://www.youtube.com/embed/Z0FETzb32Hs'" [lightbox-container]="lightbox1" [lightbox-title]="'Forrest Gump'" mat-card-image src="http://img.youtube.com/vi/Z0FETzb32Hs/maxresdefault.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-video [lightbox-video-url]="'http://www.youtube.com/embed/gbrkMDkHRqc'" [lightbox-container]="lightbox1" [lightbox-title]="'the silence of the lambs'" mat-card-image src="http://img.youtube.com/vi/gbrkMDkHRqc/maxresdefault.jpg">
    </mat-card>

    
</div>

<lightbox #lightbox1="lightbox"></lightbox>
<lightbox #lightbox2="lightbox"></lightbox>