
<h2>Some Example</h2>
<br>
<div fxLayout="row wrap" fxLayoutAlign="center none" fxLayoutGap="10px">
    <mat-card class="example-card">
        <img mat-card-image src="assets/images/bc93a9a752e5916980ddc3e86c19ecf6.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/images/hlf.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/images/affiche-La-Liste-de-Schindler.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/images/d52375334766.original.jpeg" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/images/forrest-gump-poster.jpg" alt="Photo of a Shiba Inu">
    </mat-card>
    <mat-card class="example-card">
        <img mat-card-image src="assets/images/the-silence-of-the-lambs-video-poster-29x41-in-1991-jonathan-demme-anthony-hopkins.jpg"
            alt="Photo of a Shiba Inu">
    </mat-card>
</div>