
<h2>Some Example</h2>
<br>
<div fxLayout="row wrap" fxLayoutAlign="center none" fxLayoutGap="10px">
    <mat-card class="example-card">
        <img lightbox-img [container]="lightbox1" mat-card-image src="assets/images/bc93a9a752e5916980ddc3e86c19ecf6.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [container]="lightbox1" mat-card-image src="assets/images/hlf.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [container]="lightbox1" mat-card-image src="assets/images/affiche-La-Liste-de-Schindler.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [container]="lightbox2" mat-card-image src="assets/images/d52375334766.original.jpeg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [container]="lightbox2" mat-card-image src="assets/images/forrest-gump-poster.jpg">
    </mat-card>
    <mat-card class="example-card">
        <img lightbox-img [container]="lightbox2" mat-card-image src="assets/images/the-silence-of-the-lambs-video-poster-29x41-in-1991-jonathan-demme-anthony-hopkins.jpg">
    </mat-card>
</div>

<lightbox #lightbox1="lightbox"></lightbox>
<lightbox #lightbox2="lightbox"></lightbox>