@mixin lightbox-zoom($theme) {

    lightbox lightbox-img-control{
        color: map-get(map-get($theme, zoom), color);
    }

    lightbox lightbox-img-control>div{
        background-color: map-get(map-get($theme, zoom), background-color);
    }

    lightbox lightbox-img-control>button{
        background-color: map-get(map-get($theme, zoom), background-color);
    }
}

:host{
    
    height: 64px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: absolute;
    width:100%;
    z-index: 2;
    pointer-events: none;

    >div{
        pointer-events: auto;
        padding: 3px;
        height: 40px;
        width: auto;
        border-radius: 3px;
        display: flex;
    }
}